avahi-daemon/avahi-service.dtd

<!-- $Id$ -->

<!ELEMENT service-group (name,service+)>
<!ATTLIST service-group>
<!ELEMENT name (#PCDATA)>
<!ATTLIST name replace-wildcards (yes|no) "no">
<!ELEMENT service (type,domain-name?,host-name?,port,txt-record*)>
<!ATTLIST service>
<!ELEMENT type (#PCDATA)>
<!ATTLIST type>
<!ELEMENT domain-name (#PCDATA)>
<!ATTLIST domain-name>
<!ELEMENT host-name (#PCDATA)>
<!ATTLIST host-name>
<!ELEMENT port (#PCDATA)>
<!ATTLIST port>
<!ELEMENT txt-record (#PCDATA)>
<!ATTLIST txt-record>
